@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiTextField-root {
  max-width: 100%;
}

.mainpageImg {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  object-position: right;
}

.mainpageImg > span {
  width: 100% !important;
}

.mainpageImg img {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  object-fit: cover;
  object-position: right;
}
